.btn{
    /* border: black; */
    color: white;
    background-color: #f70c14;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: transparent;
    border: solid 1px black;
    color: black;
    
}
#header{
    background-color: #FF4D4D;
    /* background-color: #33004D; */
    
}

