
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
	background: rgb(0, 0, 0);
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	background: #FF4D4D;
	color: #000000;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 34px;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
.table-title .btn i {
	float: left;
	font-size: 35px;
    height: 50px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 0px;
}
table.table tr th, table.table tr td {
	border-color: #F44336;
	padding: 18px 18px;
	vertical-align: middle;
}
table.table tr th:first-child {
	width: 10px;
}
table.table tr th:last-child {
	width: 100px;
}
/* table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #3a1d1d;
} */
table.table-striped.table-hover tbody tr:hover {
	background-color: #221313;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}	
table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}
table.table td a {
	font-weight: bold;
	color: #875656;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
}
table.table td a:hover {
	transform: scale(1.2
	);
}
table.table td a.edit {
	color: #212cf6;
}
table.table td a.update {
	color: #07ff72;
}
table.table td a.view {
	color: #ffc907;
}
table.table td a.delete {
	color: #F44336;
}
table.table td i {
	font-size: 19px;
}
table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.actions:hover{
   transform: scale(1.2);
}
 

/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	
#back-home{
    width: 150px;
    height: 40px;
    background-color: #f70c14;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}
#back-home:hover{
    background-color: #000000;
	border: 1px solid #F44336;
    color: #F44336;
    transition: all 0.4s ease-in-out;
}
.add-new:hover{
  color: #F44336;
}
p{
	text-align: center;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Radio buutons */
.wrapper{
	margin-left: -20px;
	display: inline-flex;
	/* background: #fff; */
	height: 50px;
	width: 500px;
	align-items: center;
	justify-content: space-evenly;
	/* border-radius: 5px; */
	padding: 8px 12px;
	/* box-shadow: 5px 5px 30px rgba(0,0,0,0.2); */
  }
  .wrapper .option{
	background: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 5px;
	border-radius: 5px;
	cursor: pointer;
	padding: 0 12px;
	/* border: 2px solid lightgrey; */
	transition: all 0.3s ease;
  }
  .wrapper .option .dot{
	height: 13px;
	width: 13px;
	background: #d9d9d9;
	border-radius: 50%;
	position: relative;
  }
  .wrapper .option .dot::before{
	position: absolute;
	content: "";
	top: 2px;
	left: 2.1px;
	width: 9px;
	height: 9px;
	background: #ff0000;
	border-radius: 50%;
	opacity: 0;
	transform: scale(1.5);
	transition: all 0.3s ease;
  }
  input[type="radio"]{
	display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2,
  #option-3:checked:checked ~ .option-3,
  #option-4:checked:checked ~ .option-4{
	/* border-color: #ffffff; */
	border: none;
	background: #000000;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot,
  #option-3:checked:checked ~ .option-3 .dot,
  #option-4:checked:checked ~ .option-4 .dot{
	background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before,
  #option-3:checked:checked ~ .option-3 .dot::before,
  #option-4:checked:checked ~ .option-4 .dot::before{
	opacity: 1;
	transform: scale(1);
  }
  .wrapper .option span{
	font-size: 13px;
	color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span,
  #option-3:checked:checked ~ .option-3 span,
  #option-4:checked:checked ~ .option-4 span{
	color: #fff;
  }

  /* Tool-Tip Design */
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -2.5em;
    left: -180%;
    padding: 4px 4px 4px 8px;
    color: rgb(255, 255, 255);
    white-space: nowrap; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px rgb(219, 208, 208);  
    -webkit-box-shadow: 0px 0px 4px rgb(224, 224, 224);  
    box-shadow: 0px 0px 4px #222;  
	background: rgba(223, 34, 34, 0.4);
	box-shadow: 0 8px 32px 0 rgba(192, 17, 17, 0.37);
	backdrop-filter: blur( 7.5px );
	-webkit-backdrop-filter: blur( 7.5px );
	border-radius: 10px;
	border: 1px solid rgb(255, 255, 255);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
	font-size: 0.8em;
    position: relative;
}
 [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -2.5em;
    left: -140%;
    padding: 4px 4px 4px 8px;
    color: rgb(255, 255, 255);
    white-space: nowrap; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    /* -moz-box-shadow: 0px 0px 4px rgb(219, 208, 208);  
    -webkit-box-shadow: 0px 0px 4px rgb(224, 224, 224);   */
    box-shadow: 0px 0px 4px #222;  
	background: rgba(246, 4, 4, 0.4);
	box-shadow: 0 8px 32px 0 rgba(192, 17, 17, 0.37);
	backdrop-filter: blur( 15.5px );
	-webkit-backdrop-filter: blur( 7.5px );
	border-radius: 10px;
	border: none;
	/* border: 1px solid rgb(255, 255, 255); */
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
	font-size: 0.7em;
    position: relative;
}