<div class="container1">
    
    <div class="card1">
      <div id="glass-div">
        <h2 style="color: #ff4d4d; font-weight: bolder; letter-spacing: 1px; text-transform: uppercase;" >Work-Flow Manager</h2>
        <span><h1 class="title1">(Designed For Work)</h1></span><br>
        <p class="subtitle1" >
          Introducing the first ever web application, which will manage your
          work-flow. Our app let's you to sit back, relax and work smarter.The main feature which distinguish our app from other applications is the status view of a current work-flow.
        </p>
        <a routerLink="" class="btn" style="width: 170px;"><span>Explore Now</span></a>
      </div>
    </div>
    <div class="blob"></div>
  </div>

  <div class="container1">
    
    <div class="card1">
      <div id="glass-div">
        <h2 style="color: #ff4d4d; font-weight: bolder; letter-spacing: 1px; text-transform: uppercase;" >Work-Flow Manager</h2>
        <span><h1 class="title1">(Designed For Work)</h1></span><br>
        <p class="subtitle1" >
          Introducing the first ever web application, which will manage your
          work-flow. Our app let's you to sit back, relax and work smarter.The main feature which distinguish our app from other applications is the status view of a current work-flow.
        </p>
        <a routerLink="" class="btn" style="width: 170px;"><span>Explore Now</span></a>
      </div>
    </div>
    <div class="blob"></div>
  </div>