
.container{
    background-color: black ;
    margin-top: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #fffffb, #f6686d);
    height: 550px;
    width: 1200px;
}

.register-div{
    width: 900px;
    height: 100%;
    position: relative;
}
.title{
    position: absolute;
    top: 30px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    margin-left: -25px;
    border-left: 10px solid #f70c14;
}

.register-form{
    position: absolute;
    width: 100%;
    top: 170px;
}

.input-div{
    width: 100%;
    font-size: 18px;
}

input{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    box-shadow: none;
}

input::selection{
    background-color: black;
    color: #fad714;
}

.bar::before{
    display: block;
    position: relative;
    top: -27px;
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    transition: 250ms;
}

input:focus ~ .bar::before{
    height: 2px;
    width: 100%;
}

#submit{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    margin-left: 83%;
    margin-top: 10px;
    font-size: 20px;
    width: 15%;
    font-weight: 500;
    background-color: #f70c14;
    color: #ffffff;
    transition: 200ms;
}

#submit:hover{
    background-color: #000000;
    color: #F44336;
    transition: all 0.4s ease-in-out;
    transform: translateX(20px);
}

label{
    display: inline-block;
    position: relative;
    bottom: 27px;
    transition: 200ms;
    transform-origin: left;
    cursor: text;
}
.label{
    display: inline-block;
    position: relative;
    bottom: 50px;
    transition: 200ms;
    transform-origin: left;
    cursor: text;
}

input:focus + label{
    color: #f70c14;
    bottom: 55px;
    transform: scale(.8);
    font-weight: 400;
}

input:valid + label{
    bottom: 50px;
    transform: scale(.8);
}

.go-to-list{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 10px #f70c14;
    transition: 150ms;
    padding-bottom: 3px;
}

.go-to-list:hover{
    border-bottom: solid 18px #f70c14;
}

.go-to-list:hover a{
    font-weight: 600
}

.go-to-list h3{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
a:hover{
    color: #ffffff;
    transition: all 0.3s ease-in;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 100ms;
}
#drop {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    border-radius: 3px;
    padding: 0 15px;
    height: 35px;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    /* font-weight: 500; */
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.86);
    cursor: pointer;
  }
  /* Remove IE arrow */
  #drop:-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: 4px;
    border: none;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    padding:1.3px;
    text-align: center;
    height: 35px;
    font-size: 1.3em;
    color: #ffffff;
    background-color: #000000;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f31212;
  }
  #stat{
      padding: 6px;
    font-size: 18px;
  }


