/* About Section */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card1 {
  background-image: url("https://www.mcssk12.org/cms/lib/AL50000446/Centricity/Domain/3297/emerging-tech-trends-blog1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-top: -10px;
  position: relative;
  margin-left: 5px;
  width: 1510px;
  min-height: 550px;
  /* background: rgba( 255, 255, 255, 0.15 ); */

  border-radius: 3px;
  -webkit-backdrop-filter: blur(18px);
  padding: 1.5rem;
  z-index: 10;
  color: rgb(0, 0, 0);
}
#intro-div {
  position: absolute;
  width: 60%;
  height: 300px;
  background-color: #09f;
}
#glass-div {
  left: 3.7%;
  top: 23%;
  position: absolute;
  width: 92%;
  height: 310px;
  background: rgba(243, 239, 239, 0.425);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 25px;
}
.title1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.subtitle1 {
  font-weight: 550;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
}

.btn1 {
  position: absolute;
  left: 35%;
  width: 15%;
  bottom: 1%;
  background: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  background-color: #ff4d4d;
  padding: 0.6rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
}
ul {
  font-size: larger;
}

/* Steps of Work-Flow */
.box-wrapper3 {
  width: 100%;
  margin-top: 10px;
  
}

.box3 {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  /* margin: 80px; */
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 105px;
  background: #F70404;
  background: -moz-linear-gradient(top, #F70404 0%, #000000 52%, #FF0C15 100%);
  background: -webkit-linear-gradient(top, #F70404 0%, #000000 52%, #FF0C15 100%);
  background: linear-gradient(to bottom, #F70404 0%, #000000 52%, #FF0C15 100%);
  color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: center;
  padding: 100px;
  cursor: pointer;
}

.box3::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box3:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  /* border: 2px solid #f70c14; */
  background: transparent;
  background-color: #000000;
  color: #f70c14;
}

.box3:hover::after {
    opacity: 1;
}

#steps{
  font-size: 1.4em;
  font-weight: 500;
  border-radius: 5px;
  margin: 25px;
  background:  #ff4d4d;;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.823);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  /* background-color: #ff4d4d; */
  height: 70px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 1px;
}


/* Animated Slides */
.threeholder {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1200px;
  height: 420px;
  margin-left: 115px;
}
.threeone {
  display: inline-block;
  width: 33.33333333333%;
  height: 100%;
  background: #c7c4c4;
  border-bottom: 15px solid #f70c14;
  text-align: center;
  transition: all 0.25s;
   border-radius: 10px;
   cursor: pointer;
}
.threetwo {
  margin-left: 50px;
  display: inline-block;
  width: 33.333333333%;
  height: 100%;
  background: #c7c4c4;
  border-bottom: 15px solid #f70c14;
  transition: all 0.25s;
   border-radius: 10px;
   cursor: pointer;
}
.threethree {
  margin-left: 50px;
 margin-right: -100px;
  display: inline-block;
  width: 33.333333333%;
  height: 100%;
  background: #c7c4c4;
  border-bottom: 15px solid #f70c14;
  transition: all 0.25s;
  border-radius: 10px;
  cursor: pointer;
}
.threeone:hover {
  background: #000000;
}
.threeone:hover .circlepic {
  background: #f8f4f4;
}
.threeone:hover .circleborder {
  background: #333333;
}
.threeone:hover svg {
  fill: #ff4d4d;
}
.threeholder h4 {
  width: 200px;
  text-align: center;
  font-size: 20px;
  margin-left: -55px;
  font-weight: bold;
  margin-top: 55px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.threeholder p {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-left: -55px;
  margin-top: 30px;
  font-size: 15px;
  color: #333030;
  letter-spacing: 1px;
}
.threeone:hover h4 {
  color: #ff4d4d;
}
.threetwo:hover h4 {
  color: #ff4d4d;
}
.threethree:hover h4 {
  color: #ff4d4d;
}
.threeone:hover p,
.threetwo:hover p,
.threethree:hover p{
  color: white;
}
.threeone:hover svg,
.threetwo:hover svg,
.threethree:hover svg {
  transition: all 0.65s;
  transform: rotateY(360deg);
}
.threetwo:hover {
  background: #000000;
}
.threetwo:hover .circleborder {
 background: #333333;
}
.threetwo:hover svg {
  fill: #ff4d4d;
}
.threethree:hover {
  background: #000000;
}
.threethree:hover .circleborder {
 background: #333333;
}
.threethree:hover svg {
  fill: #ff4d4d;
}
.threetwo:hover .circlepic {
  background: #f8f4f4;
}
.threethree:hover .circlepic {
  background: #f8f4f4;
}
.circleborder {
  position: absolute;
  top: 50px;
  width: 90px;
  height: 90px;
  background: #ff4d4d;
  margin-left: 155.666px;
  border-radius: 50%;
}
.circlepic {
  position: absolute;
  margin-top: 40px;
  width: 110px;
  height: 110px;
  background: #5c5c5c;
  margin-left: 145.66px;
  border-radius: 50%;
}

/* Buttons */

.btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
  display: block;
  background: #FF4D4D;
  /* border: 2px solid #f70c14; */
  /* border-radius: 1rem; */
  color: #fff;
  padding: 10px;
  width: 130px;
  transition: all 0.4s;
  margin: 2rem auto;
}

.btn:hover {
  color: #fff;
  background-color: black;
  /* background: transparent; */
  /* border-color: #f70c14; */
  -webkit-box-shadow: none;
}

.btn span {
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.btn span:after {
  font-size: 1.8em;
  font-weight: 850;
  content: " \2192";
  color: rgb(253, 2, 2);
  position: absolute;
  opacity: 0;
  top: -14px;
  right: -1.375rem;
  transition: 0.4s;
}

.btn:hover span {
  padding-right: 2rem;
  color: #f70c14;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
/* Button ends */

/* Second Div */
.card2 {
  background-color: #000000d6;
  margin-top: 30px;
   position: relative;
   margin-left: 5px;
   width: 1510px;
   min-height: 440px;
   /* background: rgba( 255, 255, 255, 0.15 ); */
   box-shadow: 0 8px 20px 0 #f70c14;
   border-radius: 3px;
   -webkit-backdrop-filter: blur(18px);
   padding: 50px;
   z-index: 10;
   color: rgb(255, 255, 255);
 }
 .title2 {
   font-size: 2.5rem;
   margin-bottom: 1rem;
   letter-spacing: 1px;
   word-spacing: 1px;
 }
 
 .subtitle2 {
   font-weight: 550;
   font-size: 1.3rem;
   margin-bottom: 2rem;
   letter-spacing: 1px;
   line-height: 32px;
   font-style: italic;
   letter-spacing: 1.5px;
   word-spacing: 1px;
 }
 
 ul {
   font-size: 1.2em;
   letter-spacing: 1.5px;
   word-spacing: 1px;
   line-height: 35px;
 }